<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:p="http://www.springframework.org/schema/p"
	xmlns:context="http://www.springframework.org/schema/context"
	xmlns:aop="http://www.springframework.org/schema/aop"
	xsi:schemaLocation="
        http://www.springframework.org/schema/beans
        http://www.springframework.org/schema/beans/spring-beans.xsd
        http://www.springframework.org/schema/context
        http://www.springframework.org/schema/context/spring-context.xsd
        http://www.springframework.org/schema/aop
        http://www.springframework.org/schema/aop/spring-aop.xsd">
	<bean id="userEntity" class="com.itmayiedu.entity.UserEntity"
		scope="singleton"></bean>
	<bean id="userEntity2" class="com.itmayiedu.entity.UserEntity"
		scope="singleton">
		<constructor-arg name="userName" type="java.lang.String"
			value="张三"></constructor-arg>
		<constructor-arg name="age" type="java.lang.Integer"
			value="10"></constructor-arg>
	</bean>
	<bean id="userDao" class="com.itmayiedu.dao.UserDao"></bean>
	<bean id="userService" class="com.itmayiedu.service.UserService">
		<property name="userDao" ref="userDao"></property>
	</bean>
</beans>